@import url('http://fonts.cdnfonts.com/css/gotham');

@import url(//db.onlinewebfonts.com/c/58ce323733cc570c3b62afae0f1d9156?family=NewCaledonia);
/* Miller ban replacement */

/* utility classes */

.background-white {
    background-color: #FFFFFF;
}

.background-grey {
    background-color: #F6F6F6;
}

/* utility classes slut */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

.linje {
    width: 65px;
    height: 6px;
    background-color: #d2d2d2;
}

.linjekort {
    width: 65px;
    height: 6px;
    background-color: #AD9755;
}

/* Fonts */
.h1-forside {
    color: #f2f2f2;
    font-size: 2.5rem;
    font-family: 'Gotham', sans-serif;
    font-weight: 700;
}

.p-forside {
    color: #f2f2f2;
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.42857143;
}

.h2-black{
    color: #161616;
    font-size: 2rem;
    font-family: 'Gotham', sans-serif;
    font-weight: 700;
}

.h2-brown{
    color: rgb(188, 135, 69);
    font-size: 2rem;
    font-family: 'Gotham', sans-serif;
    font-weight: 400;
}

.p-black{
    color: #161616;
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 0.25;
}



/* Fonts slut */

/* Drawing Paths */

.linje-path {
    width: 50px;
    height: 6px;
    background-color: #161616;
}

/* Drawing Paths slut */

.rebels {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reborn {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reinvent {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Buttons */
.knapper {
    border: 2px black solid;
    border-radius: 0px;
    padding: 10px 65px;
    background-color: transparent;
}

#knap1 {
    border: 2px white solid;
    color: white;
}

#knap1:hover {
    background-color: #47beaed6;
    transition: 0.3s;
}

#knap2 {
    border: 2px black solid;
    color: black;
}

#knap3 {
    border: 2px black solid;
    color: black;
}

#knap4 {
    border: 2px black solid;
    color: black;
}

#knap5 {
    border: 2px #F68800 solid;
    color: black;
}

#knap6 {
    border: 2px #E21081 solid;
    color: black;
}

/* Buttons slut */


.split {
    display: flex;
    flex-direction: column;
}

.splitforside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.split-kortene{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .split-kortene {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20%;
        flex-direction: row;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    padding: 3rem 0;
}

.forsidebaggrund {
    height: 90vh;
    background-image: url(images/dameblå.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.pullup{
    height: 50vh;
    background-image: url(images/pullup.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kort1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 300px;
    background-image: url(images/repeat_pile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.kort2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 300px;
    background-image: url(images/repeat_plus.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

/* Hamburger menu styles */



/* Hamburger menu styles slut */


/* Header styles */

.header {
    position: relative;
    z-index: 1;
}

.header nav {
    position: relative;
    background-color: white;
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
}

.header__logo img {
    width: 9rem;
    height: 3rem;
}

.header__menu>span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: #0d0d0d;
    transition: all 300ms ease-in-out;
    transform-origin: 6px 1px;
}

.header__menu>span:not(:last-child) {
    margin-bottom: 3px;
}

.header__hbmenu {
    position: absolute;
    width: calc(100% - 3rem);
    left: 50%;
    transform: translateX(-50%);
    background: white;
    margin-top: 1.5rem;
    padding: 1.625rem;
    border-radius: 5px;
}

.header__hbmenu a {
    display: block;
    padding: 0.625rem;
    color: #0d0d0d;
    text-align: center;
}

.header__links a {
    position: relative;
    font-size: 0.875rem;
    color: #9698a6;
    transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
    margin-right: 32px;
}

.header__links a::before {
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    left: 0;
    right: 0;
    bottom: -30px;
    background: linear-gradient(to right, #0b8dc1, #04abbe);
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
    color: #0d0d0d;
}

.header__links a:hover::before {
    opacity: 1;
}

.header.open .header__menu>span:first-child {
    transform: rotate(45deg);
}

.header.open .header__menu>span:nth-child(2) {
    opacity: 0;
    transform: scale(0);
}

.header.open .header__menu>span:last-child {
    transform: rotate(-45deg);
}

.header .overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#0d0d0d, transparent);
}