/* utility classes */
.background-white{background-color: #FFFFFF;}
.background-grey{background-color: #F6F6F6;}
/* utility classes slut */


/* Fonts */


/* Fonts slut */

html,body{
    margin: 0;
    box-sizing: border-box;
}

.split{
    display: flex;
    flex-direction: column;
}   

section{
    padding: 3rem 0;
}   